name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push
      uses: docker/build-push-action@v5
      with:
        # Lưu ý: Code này trỏ vào thư mục UserManagement
        context: ./UserManagement
        file: ./UserManagement/Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/userservice:latest
